#{extends 'main.html' /}
#{set title:'Welcome to Donate' /}

<nav class="ui inverted menu">
  <a class="item" href="/logout"> Logout  </a>
  <a class="item" href="/welcome"> Welcome </a>
  <a class="item" href="/report"> Report </a>
</nav> 

<section class="ui segment">
  <h2> Welcome ${user.firstName}</h2><br>
         <p> Please give generously </p>


  <form class="ui form" action="/donation/donate" method="POST">
    <div class="ui two column grid">
      <div class="column">
        <div class="ui selection dropdown">
          <input name="amountDonated" type="hidden">
          <div class="default text">Amount</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" data-value="100">$100</div>
            <div class="item" data-value="500">$500</div>
            <div class="item" data-value="1000">$1000</div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="grouped inline fields">
          <div class="field">
            <div class="ui radio checkbox">
              <input id="paypal" name="methodDonated" value="paypal" checked="checked" type="radio"> 
              <label for="paypal">PayPal</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input id="direct" name="methodDonated" value="direct" type="radio"> 
              <label for="direct">Direct</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="ui blue submit button">Donate <i class="add icon"></i></button>
    <div class="ui error message"></div>
  </form>
  <div class="ui segement">
    <h4 class="ui header">Amount target achieved</h4>
    <div class="ui blue successful progress">
      <div class="bar" style="width:${progress}"><div class="progress"></div>
      <!-- "width:50%" "with:${progress}" -->
      </div>
  </div>
  </div>
  <script src="@{'/public/javascripts/donate.js'}"></script>
</section>