#{extends 'main.html' /}
#{set title:'Welcome to Donate' /}

<nav class="ui inverted menu">
  <a class="item" href="/logout"> Logout  </a>
  <a class="item" href="/welcome"> Welcome </a>
  <a class="item" href="/donation"> Donate </a>
</nav> 

<h3> List Donations </h3>

<table class="ui celled table">
  <thead>
   <tr>
    <th>Donor</th>
    <th>Amount ($)</th>
    <th>Method donated</th>
  </tr>
  </thead>
  <tbody>
    #{list items:donations, as:'donation'}
    <tr>
      <td>
        ${donation.from.email}
      </td>
      <td>
        ${donation.recieved}
      </td>
      <td>
        ${donation.methodDonated}
      </td>
    </tr>
    #{/list}
  </tbody>
  <tfoot>
    
  </tfoot>
</table>

