#{extends 'main.html' /}
#{set title:'Welcome to Donate' /}

<nav class="ui inverted menu">
  <a class="item" href="/signup"> Signup  </a>
  <a class="item" href="/login">  Login   </a>
</nav> 


  <section class="ui two column segment">
    <h1>
      Welcome 
    </h1> 
    <table>
      <tbody>
       <tr> 
         <td>          
          <p><i>Homer for president</i></p>
          <p><i>Time for a change</i></p>
          <p>Out with boring Abamo </p>
          <p>Giving has never been so easy</p>
          <p>Just click <a class="item" href="/login">here</a> to login    </p>
          <p>Then go to the donation page and empty your wallet                </p>
         </td>
       
          <td> <img src="public/images/homer.jpg"> </td>
        </tr>
      </tbody>
    </table>
</section>

  
