#{extends 'main.html' /}
#{set title:'Signup for Donate' /}

<nav class="ui inverted menu">   
   <a class="active item" href="/signup"> Signup </a>
   <a class="item" href="/login">  Login </a>  
 </nav> 

<section class="ui segment">
  <p> Sign up here ... </p>
</section>


<section class="ui form segment">
  <form action="/register" method="POST">
      <div class="inline field">
        <input type="checkbox" id = "usCitizen" name="user.usCitizen"> 
        <label for="usCitizen">Tick to confirm you are a citizen of the USA</label><br><br>
      <div class="ui two column grid">
      </div>
      <div class="field">
        <label>First Name</label>
        <input placeholder="First Name" type="text" name="user.firstName">
      </div>
      <div class="field">
        <label>Last Name</label>
        <input placeholder="Last Name" type="text" name="user.lastName">
      </div>
    </div> 
    <div class="field">
      <label>Email</label>
      <input placeholder="Email" type="text" name="user.email">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" name="user.password">
    </div>
     
   
    <button class="ui blue submit button">Submit</button>
  </form>
</section> 